.navbar{
    display: flex;
    justify-content: space-around;
}

.left-section{
    display: flex;
}

.logo{
    margin: 15px;
}

.navbar-list{
    display: flex;
    list-style: none;
    gap: 1.4rem;
    cursor: pointer;
}

.icons{
    display: flex;
    gap: 1rem;
    margin: 15px;
    cursor: pointer;
}

.navbar-btn{
    height: 35px;
    width: 90px;
    border-radius: 20px;
    border: 1px solid;
    cursor: pointer;
    margin: 15px;
}